.navbar {
    padding: 10px 40px;
    transition: 0.5s all;
}

.navbar.active {
    background: rgb(0,90,130);
background: -moz-linear-gradient(146deg, rgba(0,90,130,0.9752275910364145) 48%, rgba(2,199,218,0.9752275910364145) 80%, rgba(4,204,189,0.9500175070028011) 100%);
background: -webkit-linear-gradient(146deg, rgba(0,90,130,0.9752275910364145) 48%, rgba(2,199,218,0.9752275910364145) 80%, rgba(4,204,189,0.9500175070028011) 100%);
background: linear-gradient(146deg, rgba(0,90,130,0.9752275910364145) 48%, rgba(2,199,218,0.9752275910364145) 80%, rgba(4,204,189,0.9500175070028011) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a82",endColorstr="#04ccbd",GradientType=1);
    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    text-transform: capitalize;
}

.navbar.active .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    text-transform: capitalize;
}

/* .navbar.active .navbar-brand img {
    filter: unset;
}

.navbar .navbar-brand img {
    filter: drop-shadow(0 0 10px #f1f0f06e);
} */

#banner {

    background: rgb(0,90,130);
    background: -moz-linear-gradient(146deg, rgba(0,90,130,0.9051995798319328) 40%, rgba(0,212,233,0.8715861344537815) 71%, rgba(0,233,215,0.7959558823529411) 100%);
    background: -webkit-linear-gradient(146deg, rgba(0,90,130,0.9051995798319328) 40%, rgba(0,212,233,0.8715861344537815) 71%, rgba(0,233,215,0.7959558823529411) 100%);
    background: linear-gradient(146deg, rgba(0,90,130,0.9051995798319328) 40%, rgba(0,212,233,0.8715861344537815) 71%, rgba(0,233,215,0.7959558823529411) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a82",endColorstr="#00e9d7",GradientType=1);
    /* background: rgb(0,90,130);
    background: -moz-linear-gradient(146deg, rgba(0,90,130,1) 38%, rgba(0,233,203,0.927608543417367) 71%, rgba(0,233,215,0.7959558823529411) 100%);
    background: -webkit-linear-gradient(146deg, rgba(0,90,130,1) 38%, rgba(0,233,203,0.927608543417367) 71%, rgba(0,233,215,0.7959558823529411) 100%);
    background: linear-gradient(146deg, rgba(0,90,130,1) 38%, rgba(0,233,203,0.927608543417367) 71%, rgba(0,233,215,0.7959558823529411) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a82",endColorstr="#00e9d7",GradientType=1); */

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .rightBlock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner .leftBlock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner .rightBlock img {
    width: 70%;
    animation: up-down 1.4s infinite ease-in-out alternate;
}

@keyframes up-down{
    from{
      transform: translatey(0px);
    }
    to{
      transform: translatey(-7px);
    }
}

#banner .leftBlock h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

#banner .leftBlock p {
    color: #fff;
    font-weight: 400;
}

#banner .leftBlock .downloadButtons {
    display: flex;
}

#banner .leftBlock a.android,
#banner .leftBlock a.ios {
    width: 240px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    padding: 5px 10px;
}

#banner .leftBlock a.android .fa-brands,
#banner .leftBlock a.ios .fa-brands {
    font-size: 30px;
    margin-right: 10px;
}

#banner .leftBlock a.android:hover,
#banner .leftBlock a.ios:hover {
    background: #fff;
    color: rgb(66, 66, 66);
    font-weight: 500;
}

#aboutSection .rightBlock ul {
    list-style: none;
    list-style-image: url("../image/banner/arrow-right.png");
}

#aboutSection .rightBlock ul li::marker {
    margin-top: 10px;
}

#servicesBlock .card {
    border: none;
}

#servicesBlock .servicesSlider .item .card p {
    text-align: justify;
}

#servicesBlock .owl-carousel .owl-item img {
    display: block;
    width: 50%;
    margin: auto;
}

#becomeCaregiver .btnJoin {
    border: 1px solid rgb(160, 160, 160);
    border-radius: 50px;
    padding: 10px 50px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    color: #111;
}

#becomeCaregiver .btnJoin::before {
    content: "";
    position: absolute;
    top: 0;
    left: -190px;
    width: 100%;
    height: 100%;
    background: rgb(0,90,130);
    background: -moz-linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    background: -webkit-linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    background: linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a82",endColorstr="#02c7da",GradientType=1);
    transition: 0.5s all;
    z-index: -1;
}

#becomeCaregiver .btnJoin:hover::before {
    left: 0;
}

#becomeCaregiver .btnJoin:hover {
    color: #fff !important;
}

#becomeCaregiver .leftBlock .downloadButtons {
    display: flex;
}
#becomeCaregiver .leftBlock button.android, #becomeCaregiver .leftBlock button.ios {
    width: 240px;
    border: 1px solid #161616;
    border-radius: 50px;
    background: transparent;
    color: #000000;
    padding: 5px 10px;
}

#becomeCaregiver .leftBlock button.android .fa-brands, #becomeCaregiver .leftBlock button.ios .fa-brands {
    font-size: 30px;
    margin-right: 10px;
}

/** For Agency**/


#becomeAgency .btnJoin {
    border: 1px solid rgb(160, 160, 160);
    border-radius: 50px;
    padding: 10px 50px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    color: #fff;
}

#becomeAgency .btnJoin::before {
    content: "";
    position: absolute;
    top: 0;
    left: -190px;
    width: 100%;
    height: 100%;
    background: rgb(0,90,130);
    background: -moz-linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    background: -webkit-linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    background: linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a82",endColorstr="#02c7da",GradientType=1);
    transition: 0.5s all;
    z-index: -1;
}

#becomeAgency .btnJoin:hover::before {
    left: 0;
}

#becomeAgency .btnJoin:hover {
    color: #fff;
}


#becomeAgency .leftBlock .downloadButtons {
    display: flex;
}
#becomeAgency .leftBlock button.android, #becomeAgency .leftBlock button.ios {
    width: 240px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: transparent;
    color: #ffffff;
    padding: 5px 10px;
}

#becomeAgency .leftBlock button.android .fa-brands, #becomeAgency .leftBlock button.ios .fa-brands {
    font-size: 30px;
    margin-right: 10px;
}

#testimonialBlock .owl-carousel .owl-item img {
    width: 50px;
}

#testimonialBlock .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: none;
    margin: 20px;
}

#contactBlock .rightBlock .form-control[type="text"],
#contactBlock .rightBlock .form-control[type="email"] {
    height: 50px;
}

#contactBlock .rightBlock #contactForm .form-control[type="text"],
#contactBlock .rightBlock #contactForm .form-control[type="email"],
#contactBlock .rightBlock #contactForm textarea {
    border-radius: 0;
    box-shadow: none;
}

#contactBlock .rightBlock #contactForm button {
    height: 50px;
    background: rgb(0,90,130);
    background: -moz-linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    background: -webkit-linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    background: linear-gradient(146deg, rgba(0,90,130,0.9472163865546218) 48%, rgba(2,199,218,0.9752275910364145) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a82",endColorstr="#02c7da",GradientType=1);
    color: #fff;
    width: 200px;
}
.agency-mobile-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.agency-mobile-img img{
    max-width:90%;
}

#blogDetails img {
    height: 60vh;
    object-fit: contain;
}

.header {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 232, 101);
    background: linear-gradient(
        327deg,
        rgba(0, 232, 101, 1) 0%,
        rgba(0, 105, 224, 1) 100%
    );
}

.header .header_title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}

.ordered_list li::marker,
.ordered_list .list_title {
    font-size: 1.3rem;
    font-weight: 600;
}

.ordered_list .list_detsils {
    font-size: 14px;
    text-align: justify;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #111 !important;
}

footer {
    font-size: 12px;
}

.contact-us-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.contact-us-img img{
    max-width:80%;
}